USE [TESTRUTH]
GO
/****** Object:  StoredProcedure [dbo].[sp_CalculateDynamicFormulas]    Script Date: 26/04/2026 00:55:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER   PROCEDURE [dbo].[sp_CalculateDynamicFormulas]
AS
BEGIN
    SET NOCOUNT ON;
    
    DECLARE -- הגדרת משתנים שיכילו את הנתונים מטבלת הנוסחאות
    @targil_id INT, 
    @formula VARCHAR(MAX),
    @tnai VARCHAR(MAX),
    @targil_false VARCHAR(MAX);
    
--משתנה שיכיל את השאילתא מה SQL 
    DECLARE @sql NVARCHAR(MAX);


    DECLARE --שני משתנים למדידת זמן
    @StartTime DATETIME,
    @EndTime DATETIME;

    -- CURSOR  שעובר על כל הנוסחאות בטבלת הנוסחאות
    DECLARE targil_cursor CURSOR FOR 
    SELECT targil_id, targil, tnai, targil_false FROM t_targil;

    OPEN targil_cursor;
    FETCH NEXT FROM targil_cursor INTO @targil_id, @formula, @tnai, @targil_false;

    WHILE @@FETCH_STATUS = 0  -- תנאי עצירה -- כל עוד יש שורות בטבלה, תמשיך לרוץ
    BEGIN
        SET @StartTime = GETDATE(); -- תחילת מדידת זמן לפני שהחישוב מתחיל

        -- בניית השאילתה הדינמית
        -- אם יש תנאי, נשתמש ב-CASE WHEN,
        --אם לא - רק בנוסחה
        IF @tnai IS NOT NULL AND @tnai <> ''
        BEGIN
      
            SET @sql = 'INSERT INTO t_results (data_id, targil_id, method, result) ' +
                       'SELECT data_id, ' + CAST(@targil_id AS VARCHAR) + ', ''SQL'', ' +
                       'CASE WHEN ' + @tnai + ' THEN (' + @formula + ') ELSE (' + @targil_false + ') END ' +
                       'FROM t_data';
        END
        ELSE
        BEGIN
        -- אם אין תנאי, זו סתם נוסחה רגילה  
            SET @sql = 'INSERT INTO t_results (data_id, targil_id, method, result) ' +
                       'SELECT data_id, ' + CAST(@targil_id AS VARCHAR) + ', ''SQL'', ' +
                       '(' + @formula + ') FROM t_data';
        END

        -- הרצת השאילתה שנבנתה
        EXEC sp_executesql @sql;

        SET @EndTime = GETDATE(); -- סוף מדידת זמן

        -- שמירת זמן הריצה בטבלת הלוג
        INSERT INTO t_log (targil_id, method, run_time)
        VALUES (@targil_id, 'SQL', DATEDIFF(MILLISECOND, @StartTime, @EndTime) / 1000.0);

        FETCH NEXT FROM targil_cursor INTO @targil_id, @formula, @tnai, @targil_false;
    END

    CLOSE targil_cursor;
    DEALLOCATE targil_cursor;
END;
